<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
  <h1>SPEECH TO TEXT TO SPEECH</h1>
  <h2 class="center">Converti</h2>

  <form method="post" enctype="multipart/form-data">

    <div class="row">

      <div class="column">
        <label>Seleziona la lingua d'origine del file:</label>
        <select class="languageSelect" name="fromLanguage">
          <%  languages.forEach(lang => {%>
          <option value="<%= lang.code %>" <%= lang.code == "en" ? "selected" : "" %>><%= lang.name %></option>
          <% }) %>
        </select>
      </div>

      <div class="column">
        <label>Seleziona in quale lingua tradurre il file:</label>
        <select class="languageSelect" name="toLanguage">
          <%  languages.forEach(lang => {%>
          <option value="<%= lang.code %>" <%= lang.code == "it" ? "selected" : "" %>><%= lang.name %></option>
          <% }) %>
        </select>
      </div>

    </div>


    <div class="row">
      <div class="column">
        <label>Seleziona un file audio:</label>
        <input type="file" id="audioFile" name="audioFile" accept="audio/*" required>
      </div>
      <div class="column">
        <label>&nbsp;</label>
        <button type="submit">Converti il file</button>
      </div>
    </div>
    </div>
  </form>

  <%- include('partials/footer.ejs') %>
</body>

</html>