<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
  <img src="img/STT2TTS.png" class="brand-logo">
  <h2 class="center">Risultato</h2>

  <div class="row">

    <div class="column">
      <p><b>Testo del file in <mark><%= sourceLanguage %></mark>:</b></p>
      <p><span class="fromLanguageText"><%= sourceText %></span></p>
    </div>
    <div class="column">
      <p><b>Testo del file tradotto in <mark><%= targetLanguage %></mark>:</b></p>
      <p><span class="toLanguageText"><%= targetText %></span></p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <p><b>Audio del file tradotto:</b></p>
      <audio controls>
        <source src="<%= audioSrc %>" type="audio/mpeg">
      </audio>
    </div>

    <div class="column">
      <p>&nbsp;</p>
      <a href="/" class="button">Torna alla pagina principale</a>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
</body>

</html>